{% extends 'base/base.html' %}
{% load static %}

{% block css %}{% static 'css/login.css' %}{% endblock %}
{% block title %}SICOMB - Login{% endblock title %}

{% block content_main %}

<div class="top-side">
    <div class="header-content">
        <div class="logo">
            <img class="img-bpm" src="{% static 'img/policiamilitar_logo.png' %}" alt="logo">
        </div>
        <h1 class="text-nav">SISCOEM - Sistema de Controle de Equipamentos Militares</h1>
    </div>

</div>
    
<div class="container">
    <div class="column">
        <div class="l-left">
            <h1>Controle total para uma missão cumprida</h1>
            <h4>Gerenciando e contabilizando a entrada e saída de equipamentos. Tenha visibilidade completa do seu
                inventário bélico com o SISCOEM. </h4>
            <div class="img-login">
                <img src="{% static 'img/gerenciamento-de-projetos.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="column">
        <div id="login">
            <h4>Visualize no SISCOEM os movimentos realizados
                <span>pelos policiais no batalhão</span>
            </h4>
            <form method="post" action=".">
                {% csrf_token %}
                <label for="">Matrícula</label>
                <input type="text" name="username">
                <label for="">Senha</label>
                <input type="password" name="password">
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>
</div>
{% endblock content_main %}