{% extends 'base/footer.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}SICOMB - Lista de modelos{% endblock title %}
{% block title_top %}LISTA DE MODELOS DE EQUIPAMENTOS{% endblock title_top %}
{% block css2 %}{% static 'css/equipamentos.css' %}{% endblock%}

{% block content_final %}
<style>
    .footer-div{
        position: absolute;
    }
    .container {
        <!-- max-width: 100%; -->
    }
    .dashboard_loads{
        width: auto;
    }
    .cargo_itens {
        overflow-y: none;
        overflow-x: none;
    }
    .button_promote {
        width: 100%;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(130, 241, 130);
        font-family: interBold;
    }
    .button_promote:hover {
        background-color: rgb(90, 206, 90);
    }
</style>
<section style="padding: 0px 20px">
    <div class="cargo_itens dashboard_loads shadow"> 
        <table class="table_itens">
            <thead>
                <tr>
                    <th colspan="100%" class="cargo_title"><h3>MODELOS</h3></th>
                    <tr class="col-itens">
                        <td>Tipo do Modelo</td>	
                        <td>Quantidade</td>	
                        <td>Calibre</td>	
                        <td>Modelo</td>	
                        <td>Descrição</td>	
                        <td>Tamanho</td>
                        <th>APROVAR</th>
                        <th>REPROVAR</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for model in model_list %}
                <form action="." id="form" method="post">
                    {% csrf_token %}
                    <tr>
                        <input type="hidden" name="action-type" id="action-type" value="aprove"> 
                        <input type="hidden" name="model_name" value="{{ model|model_class }}">
                        <input type="hidden" name="model_id" value="{{ model.pk }}">
                        <td>{{ model|model_class }}</td>
                        <td>{{ model.amount|default:"-" }}</td>
                        <td>{{ model.caliber|default:"-" }}</td>
                        <td>{{ model.model|default:"-" }}</td>
                        <td>{{ model.description|default:"-" }}</td>
                        <td>{{ model.size|default:"-" }}</td>
                        <td class="click_redirect"><button class="button" onclick="$('#action-type').val('approve'); $('#form').submit()" type="button">APROVAR<button></td>
                        <td class="click_redirect"><button class="button" onclick="$('#action-type').val('disapprove'); $('#form').submit()" type="button">REPROVAR<button></td>
                        </tr>
                    </tr>
                </form>
            {% empty %}
                <tr>
                    <td colspan="100%">Nenhum equipamento encontrado.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <span>
        <hr>
    </span>
</section>

{% endblock content_final %} 
