{% extends 'base/footer.html' %}
{% load static %}

{% block css %}{% static 'css/police_page.css' %}{% endblock %}
{% block title %}SICOMB - Login Policial{% endblock title %}
{% block title_top %}PERFIL DO POLICIAL{% endblock title_top %}
{% block nav %}{% endblock nav %}
{% block perfil %}{% endblock perfil %}
{% block css2 %}{% static 'css/carga.css' %}{% endblock%}

{% block content_final%}
<link rel="stylesheet" href="{% static 'css/equipamentos.css' %}">
    <section class="cargo">
        <div class="police_officer_field shadow">
            <table class="police_officer_table">
                <thead>
                    <tr>
                        <th class="cargo_title">POLICIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#"><img class="shadow perfil" src="{% if user.image_path %}{{ user.image_path.url }}{% else %}static/img/user.png{% endif %}" onerror="this.src='{% static "img/user.png"%}'" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td>{{user.matricula}}</td>
                    </tr>
                    <tr>
                        <td id="telefone-txt">{{user.telefone}}</td>
                    </tr>
                    <tr>
                        <td>{{user.lotacao}}</td>
                    </tr>
                    <tr>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <div class="btn_final">
                                    <button class="btn_finalize btn_cancel shadow" type="submit">Sair</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <br>    
    <section>
        <div class="cargo_itens shadow">
            <table class="table_itens">
                <thead>
                    <form method="get">
                    <tr>
                        <th colspan="100%" class="cargo_title"><h3>CARGAS </h3></th>
                    </tr>
                        <tr class="col-itens">
                            <th colspan="100%" class=""><input type="submit" class="button" value="Filtrar"></th>
                        </tr>
                            
                        <tr class="col-itens">
                            <th></th>
                            <th>{{ filter_form.turn_type }}</th>
                            <th></th>
                            <th>{{ filter_form.adjunct }}</th>
                            <th></th>
                            <th>{{ filter_form.amount_items }}</th>
                            <th><label>Começo<br> {{ filter_form.date_load_start }} <br>Fim<br> {{ filter_form.date_load_end }}</th>
                            <th>Começo<br> {{ filter_form.expected_load_return_date_start }} <br>Fim<br> {{ filter_form.expected_load_return_date_end }}</th>
                            <th>{{ filter_form.status }}</th>
                        </tr>
                    </form>
                    <tr class="col-itens">
                        <th>ID DE CARGA</th>
                        <th>TIPO</th>
                        <th>MATRÍCULA</th>
                        <th>ADJUNTO</th>
                        <th>GRADUAÇÃO</th>
                        <th>QNT. DE ITENS</th>
                        <th>DATA</th>
                        <th>PREVISÃO DE DESCARGA</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                {% if loads %}
                <tbody>
                    {% for i in loads %}
                    <tr>
                        <tr>
                            <td class="click_redirect"><a  href="">{{ i.0.pk }}</a></td>
                            <td>{{i.0.turn_type}}</td>
                            <td>{{ i.0.police.matricula |default:"-" }}</td>
                            <td class="click_redirect" ><a href="{% url 'perfil_police' id=i.0.adjunct.id %}">{{ i.0.adjunct.name|default:'Adjunto não cadastrado' }}</a></td>  
                            <td>{{ i.0.police.posto |default:'Tenente'}}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.0.date_load|date:"d/m/Y  H:i:s" }}</td>
                            <td>{{ i.0.expected_load_return_date |default:'-' }}</td>
                            <td class="{% if i.0.status == 'ATRASADA' %}
                            status-atrasada
                            {% elif i.0.status == 'DENTRO DO PRAZO' %}
                            status-dentro-prazo
                            {% elif i.0.status == 'DESCARREGADA COM ATRASO' %}
                            status-descarregada-atraso
                            {% elif i.0.status == 'DESCARREGADA' %}
                            status-descarregada-prazo
                            {% elif i.0.status == 'DATA DE RETORNO NÃO DEFINIDA' %}
                            status-data-indefinida
                            {% elif i.0.status == 'DESVIADA COM ATRASO' %}
                            status-atraso
                            {% elif i.0.status == 'DESVIADA DENTRO DO PRAZO' %}
                            status-prazo
                            {% elif i.0.status == 'PARCIALMENTE DESCARREGADA COM ATRASO' %}
                            status-parcial-atraso
                            {% elif i.0.status == 'PARCIALMENTE DESCARREGADA' %}
                            status-parcial-prazo
                            {% elif i.0.status == 'PARCIALMENTE DESCARREGADA COM ATRASO' %}
                            status-parcial-atraso
                            {% elif i.0.status == 'PARCIALMENTE DESCARREGADA DENTRO DO PRAZO' %}
                            status-parcial-prazo
                            {% endif %}">
                            {{ i.0.status}} </td>
                        </tr>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>

        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function formatPhoneNumber(phoneNumber) {
                var cleaned = phoneNumber.replace(/\D/g, ''); 
    
                if (cleaned.length === 13) {
                    return '+' + cleaned.slice(0, 2) + ' (' + cleaned.slice(2, 4) + ') ' + cleaned.slice(4, 9) + '-' + cleaned.slice(9);
                }
                else if (cleaned.length === 11) {
                    return '(' + cleaned.slice(0, 2) + ') ' + cleaned.slice(2, 7) + '-' + cleaned.slice(7);
                }
                else if (cleaned.length === 10) {
                    return '(' + cleaned.slice(0, 2) + ') ' + cleaned.slice(2, 6) + '-' + cleaned.slice(6);
                }
    
                return phoneNumber;
            }
    
            var telefoneElement = document.getElementById('telefone-txt');
            if (telefoneElement) {
                var phoneNumber = telefoneElement.textContent.trim();
                telefoneElement.textContent = formatPhoneNumber(phoneNumber);
            }
        });
    </script>
{% endblock content_final%}

