{% extends 'base/footer.html' %}
{% load static %}

{% block css %}{% static 'css/police_page.css' %}{% endblock %}
{% block title %}SICOMB - Login Policial{% endblock title %}
{% block title_top %}PERFIL DO POLICIAL{% endblock title_top %}
{% block nav %}{% endblock nav %}
{% block perfil %}{% endblock perfil %}

{% block content_final%}
    <section class="cargo">
        <div class="police_officer_field shadow">
            <table class="police_officer_table">
                <thead>
                    <tr>
                        <th class="cargo_title">POLICIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#"><img class="shadow perfil" src="{% if user.image_path %}{{ user.image_path.url }}{% else %}static/img/user.png{% endif %}" onerror="this.src='{% static "img/user.png"%}'" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td>{{user.matricula}}</td>
                    </tr>
                    <tr>
                        <td>{{user.telefone}}</td>
                    </tr>
                    <tr>
                        <td>{{user.lotacao}}</td>
                    </tr>
                    <tr>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <div class="btn_final">
                                    <button class="btn_finalize btn_cancel shadow" type="submit">Sair</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <br>    
    <section>
        <div style="margin-right: 0px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
            </svg>
        </div>
    </section>
    <section>
        <div class="cargo_itens shadow">
            <table class="table_itens">
                <thead>
                    <tr>
                        <th colspan="100%" class="cargo_title"><h3 >CARGAS</h3></th>
                    </tr>
                    <tr class="col-itens">
                        <th>ID DE CARGA</th>
                        <th>TIPO</th>
                        <th>MATRÍCULA</th>
                        <th>ADJUNTO</th>
                        <th>GRADUAÇÃO</th>
                        <th>QNT. DE ITENS</th>
                        <th>DATA</th>
                        <th>PREVISÃO DE DESCARGA</th>
                    </tr>
                </thead>
                {% if loads %}
                <tbody>
                    {% for i in loads %}
                    <tr>
                        <tr>
                            <td class="click_redirect"><a  href="">{{ i.0.pk }}</a></td>
                            <td>{{i.0.turn_type}}</td>
                            <td>{{ i.0.police.matricula |default:"-" }}</td>
                            <td class="click_redirect" ><a  href="">{{ i.0.adjunct.name |default:"Adjunto Indisponível" }}</a></td>
                            <td>{{ i.0.police.posto |default:'Tenente'}}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.0.date_cargo }}</td>
                            <td>{{ i.0.expected_load_return_date |default:'-' }}</td>
                        </tr>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>

        </div>
    </section>
{% endblock content_final%}

