{% extends 'base/topo.html' %}
{% load static %}

{% block content_intermed %}

{% block content_final %}{% endblock content_final %}

{% block footer %}
{% comment %} <footer>
    <div class="footer-div">
        <img class="img-bpm" src="{% static 'img/policiamilitar_logo.png' %}"
        alt="17º Batalhão de Polícia Militar do Estado da Bahia">
        <h3>SISCOEM - Sistema de Controle de Equipamentos Militarers</h3>
    </div>
</footer> {% endcomment %}
{% endblock footer %}

{% endblock content_intermed %}