@import 'header.css';

.container {
    flex: 1;
}
.define-registration-div {
    /* display: grid;
    justify-items: center; alinhamento horizontal dos elementos
    align-items: center;
    grid-template-columns: 1fr 1fr; duas colunas de largura igual */
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.option_type_model{
    padding: 10px;
    position: relative;
    height: 5rem;
    width: 14rem;
    margin: 1.0rem;
}

.option_type_model a{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    transition: all 300ms ease;
    background-color: #5B4939;
    box-shadow: 1px 5px 5px #48321e;
    color: white;
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    transition: .5s;
}

.option_type_model a label{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_type_model a img{
    width: 25px;
}

a:hover{
    color: #5B4939;
    background-color: white;
    box-shadow: 1px 5px 10px #48321e;
    border: 1px solid #5b493996;
    font-weight: 600;
    

}

.a-register-btn {
    /* text-align: center;
    padding: 10px 20px;
    background-color: rgb(91,73,57, 0.9);
    border-radius: 10px;
    border: 1px solid #90816A;
    color:#fff;
    font-family: interBold;
    font-size: 15px;
    box-shadow: -2px 4px 2px rgb(91,73,57);
    margin: 20px;
    width: 200px; */
}

.section_register{
    display: flex;
    justify-content: center;
}
.registration{
    /* height: 800px; */
    /* height: 110vh; */
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0% 0% 5% 0%;
}

.title{
    font-family: interBold;
    color: #fff;
    height: 50px;
    width: 100%;
    background-color: rgb(91,73,57, 0.9);
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.sub-title{
    height: 50px;
    padding: 2% 0%;;
}

.row_color{
    display: flex;
    justify-content: center;
    padding: 0% 0% 5% 0%;
}
.row_color span{
    height: 2px;
    width: 80%;
    background-color: rgb(91,73,57, 0.6);   
}

.input-div{
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas de largura igual */
    justify-items: center; /* alinhamento horizontal dos elementos */
    align-items: start; /* alinhamento vertical dos elementos */
    max-height: 55vh;
}
.input-box{
    padding: 0px 20px;
    max-height: 55vh;
    width: 70%;
}

#text-uid {
    color: #757575;
}

.input-title{
    font-family: interBold;
    color: #5B4939;
    font-size: 14px;
    padding: 20px 10px 5px 5px;
}
.input-data{
    background-color: rgb(91,73,57, 0.1);
    padding: 2% 5%;
    border-radius: 10px;
    border: 2px solid rgb(91,73,57, 0.6);
    font-size: 14px;
    font-family: 'interBold';
    color: #5B4939;
    line-height: 40px;
    width: 89%;
}
.file-div{
    display: flex;
    
}

.select-field{
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* -ms-appearance: none; */
    /* appearance: none; */
    /* outline: 0; */
    box-shadow: none;
    border: 0 !important;
    background-color: rgb(0,69,147, 0.10);
    background-image: none;
    flex: 1;
    /* padding: 0 5em; */
    cursor: pointer;
    color: rgb(91,73,57, 0.8);
    font-family: 'interBold';
    font-size: 14px;
    padding: 2% 5%;
    border-radius: 10px;
} 
.select-field::-ms-expand{
    /* display: none; */
}
.select{
    height: 3.5em;
    background-color: rgb(91,73,57, 0.1);
    border: 2px solid rgb(91,73,57, 0.6);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    transition: .25s;
    width: 100%;
}


.select-field::after{
    /* display: flex; */
    /* align-items: center; */
    /* content: '\25BC'; */
    /* color: #fff; */
    /* position: absolute; */
    /* top: 0%; */
    /* right: 0%; */
    /* padding: 0 1em; */
    /* background: rgb(91,73,57, 0.6); */
    /* cursor: pointer; */
    /* pointer-events: none; */
    /* transition: .25s all ease; */
}
.select-field:hover::after{
    /* background-color: #004593; */
    /* color: #004593; */
}

.file-label{
    padding: 6% 5%;
}

.input-file{
    display: none !important;
}

.file-selected {
    border: 2px solid #004593 !important;
}

.file-label{
    padding: 6% 5%;
    font-family: interBold;
    font-size: 14px;
    padding: 20px 5%;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: .5s;
    
    color: #fff;
    background-color: rgb(91,73,57, 0.8);
    border: 1px solid rgb(91,73,57, 0.6);
}
.file-label:hover{
    color: #5B4939;
    background-color: rgb(91,73,57, 0.6);
    border: 1px solid rgb(91,73,57, 0.6);
}

.finalize-registration{
    display: flex;
    flex-direction: row; /* ou column */
    justify-content: center;
    padding: 5% 0%;
    position: relative;
    bottom: 0; 
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 50px 0px; */
}

.form-element {
    position: relative;
    height: 75%;
    width: 100%;
}

.finalize-registration label input {
    font-family: interBold;
    font-size: 15px;
    color: #fff;
    background-color: rgb(91,73,57, 0.9);
    border-radius: 10px;
    border: 1px solid #90816A;
    padding: 10px 20px;
    height: 50px;
    width: 180px;
    margin: auto 20px;
    cursor: pointer;
}

.box-shadow-registration{
    box-shadow: -2px 4px 2px rgb(91,73,57);
}

.shadow{
    box-shadow: -0px 5px 10px rgb(0,0,0,0.25);
}

table {
    border-collapse: collapse;
    justify-content: center;
    width: 100%;
    font-family: interBold;
    font-size: 15px;
    color: #5B4939;
}

table tbody td{
    text-align: center;
}